@charset "ISO-8859-1";

div{
    margin-top: 60px;
    margin-left: 550px;
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 5px rgb(151, 149, 149);
}
button:hover{
    box-shadow: 4px 4px 8px 4px rgb(151, 149, 149);
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.button1{
    position: relative;
    top: 80px;
    left: 115px;
}

.button2{
    position: relative;
    top: 140px;
    left: 115px;
}
.button3{
    position: relative;
    top: 200px;
    left: 115px;
}


