@charset "ISO-8859-1";
section{
    width: 1100px;
    height: 500px;
    position: fixed;
    top: 50px;
    left: 200px;
}
div{
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 30px 5px rgb(151, 149, 149);
    position: fixed;
}
input:hover{
	box-shadow: 4px 4px 8px 4px rgb(151, 149, 149);
}
img{
    width: 250px;
    height: 250px;
    position: relative;
    left: 26px;
    top: 30px;
    
}
h2{
    /* position: absolute; */
    position:relative;
    top: 20px;
    left: 120px;
}
.first{
    left: 240px;
    top: 100px;

}
.second{
    top: 100px;
    left: 590px;
}
.third{
    top: 100px;
    left: 940px;
}

